@import "/app/bootstrap.scss";

.headerBackground {
  background-color: var(--bs-secondary-bg);
}

.mainContainerHeight {
  // Header height is 56 px for mobile width
  height: calc(100% - 56px);
}

@include media-breakpoint-up(sm) {
  .mainContainerHeight {
    // Header height is 66 px for width higher than mobile
    height: calc(100% - 66px);
  }
}
