@import "/app/bootstrap.scss";

.message {
  background-color: var(--bs-secondary-bg);
  border-radius: 5px;
  max-width: 75%;
  white-space: pre-wrap;
}

@include media-breakpoint-up(sm) {
  .message {
    max-width: 80%;
  }
}

@include media-breakpoint-up(md) {
  .message {
    max-width: 85%;
  }
}
