@import "/app/bootstrap.scss";

.backToBottomButtonContainer {
  position: relative;
  height: 0;
  overflow: visible;
  z-index: 99;
}

.backToBottomButton {
  position: absolute;
  padding-bottom: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.backToBottomIcon {
  color: $primary;
  width: 16px;
  height: 16px;
}

@include media-breakpoint-up(md) {
  .backToBottomIcon {
    width: 18px;
    height: 18px;
  }
}

.chatMessagesContainer {
  position: relative;
  min-height: 210px;
}

.sendIcon {
  font-size: 28px;
}

.messageText {
  word-wrap: break-word;
  min-width: 0;
}

.messageText:empty:not(:focus):before {
  content: attr(custom-placeholder);
  color: $secondary;
}
