@import "/app/bootstrap.scss";

.backToBottomButtonContainer {
  position: relative;
  height: 0;
  overflow: visible;
  z-index: 99;
}

.backToBottomButton {
  position: absolute;
  padding-bottom: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.backToBottomIcon {
  color: $primary;
  width: 16px;
  height: 16px;
}

@include media-breakpoint-up(md) {
  .backToBottomIcon {
    width: 18px;
    height: 18px;
  }
}

.chatMessagesContainer {
  position: relative;
  min-height: 210px;
}

.sendIcon {
  font-size: 28px;
}

.sendButton {
  border: solid transparent;
  background-color: transparent;
  border-radius: 5px;
  color: $primary;
}

@media (hover: hover) {
  .sendButton:hover {
    backdrop-filter: brightness(93%);
  }
}

.sendButton:active {
  backdrop-filter: brightness(85%);
}

.messageText {
  white-space: pre-wrap;
  resize: none;
}
