@import "/app/bootstrap.scss";

.navLinkText {
  font-size: 15px;
}

@include media-breakpoint-up(sm) {
  .navLinkText {
    font-size: 21px;
  }
}

.signInButtonText {
  font-size: 13px;
}

@include media-breakpoint-up(sm) {
  .signInButtonText {
    font-size: 17px;
  }
}

html[data-bs-theme="light"] .outermostIcon {
  color: black;
}

html[data-bs-theme="dark"] .outermostIcon {
  color: $gray-400;
}

.outermostIcon {
  font-size: 30px;
}

@include media-breakpoint-up(sm) {
  .outermostIcon {
    font-size: 40px;
  }
}

.darkModeIcon {
  color: $gray-400;
  font-size: 25px;
}

@include media-breakpoint-up(sm) {
  .darkModeIcon {
    font-size: 30px;
  }
}

.darkModeButton {
  padding: 4px !important;
}

@include media-breakpoint-up(sm) {
  .darkModeButton {
    padding: 4px 8px !important;
  }
}

.firstSingInPopoverText {
  text-align: center;
  --bs-popover-arrow-height: 10px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-light);
}

.firstSingInPopover {
  position: relative;
  right: 35px;
}

@include media-breakpoint-up(sm) {
  .firstSingInPopover {
    right: 40px;
  }
}
