@import "/app/bootstrap.scss";
@import "bootstrap/scss/buttons";

.accountLink {
  color: $primary !important;
}

.accountLink:active {
  color: $light !important;
}

.signOut {
  color: $danger !important;
}
